:global(html), :global(body), :global(main) {
  height: 100%;
  margin: 0;
}

:global(main) {
  display: flex;
  flex-direction: column;
  align-self: end;
}

article {
  flex: 1 0 auto;
  padding: 0 8px;
}
